<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>PrivacyMap | LinkFree</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body>
    <i onclick="mostrar(this)" class="fa fa-sun-o fa-2x sun_mode"></i>

    <img id="userPhoto" src="assets/imagens/perfil.png" alt="PrivacyMap Photo">

    <spam id="userName">@PrivacyMap</spam>
    <div id="links">
        <a class="link" href="https://www.youtube.com/channel/UCwsRITYlQftMPezSJ8xlPWg" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
        <a class="link" href="https://www.instagram.com/privacymap/" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
        <a class="link" href="https://www.linkedin.com/company/privacymap/" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-linkedin-square"></i> LinkedIn</a>
        <a class="link" href="https://twitter.com/PrivacyMap" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a class="link" href="https://github.com/PrivacyMap" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-github" aria-hidden="true"></i> GitHub</a>
    </div>

    <!--
        <div class="footer">
        <a href="https://www.instagram.com/privacymap/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-instagram circulo" aria-hidden="true" alt="Instagram PrivacyMap"></i>
        </a>
        <a href="https://www.linkedin.com/in/pio/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-linkedin circulo" aria-hidden="true" alt="LinkedIn PrivacyMap"></i>
        </a>
    </div>
    -->

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>