<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>PrivacyMap Links</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body>
    <i onclick="mostrar(this)" class="fa fa-sun-o fa-2x sun_mode"></i>

    <img id="userPhoto" src="assets/imagens/perfil.png" alt="PrivacyMap Photo">

    <spam id="userName">@PrivacyMap</spam>
    <div id="links">
        <a class="link" href="https://www.youtube.com/c/PrivacyMap/" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
        <a class="link" href="https://twitter.com/PrivacyMap" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a  class="link" href="https://t.me/privacymap" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-telegram" aria-hidden="true"></i> Canal Oficial no Telegram (Conteúdo Exclusivo)</a>
        <a  class="link" href="https://odysee.com/$/invite/@PrivacyMap:b" target="_blank" style="border-radius: 25px;"><i
                aria-hidden="true"></i> Odysee</a>
        <a  class="link" href="https://privacymap.co/apoie/" target="_blank" style="border-radius: 25px;"><i
                aria-hidden="true"></i> Apoie o PrivacyMap ❤️</a>  
    </div>

    
        <div class="footer">
        <a href="https://www.instagram.com/privacymap/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-instagram circulo" aria-hidden="true" alt="Instagram PrivacyMap"></i>
        </a>
       
        <a href="https://www.linkedin.com/company/privacymap/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-linkedin circulo" aria-hidden="true" alt="LinkedIn PrivacyMap"></i>
        </a>

        <a href="https://github.com/PrivacyMap" target="_blank">
            <i style="line-height: 38px;" class="fa fa-github circulo" aria-hidden="true" alt="GitHub PrivacyMap"></i>
        </a>

        <a href="https://privacymap.co/" target="_blank">
            <i style="line-height: 38px;" class="fa fa-globe circulo" aria-hidden="true" alt="Site PrivacyMap"></i>
        </a>
        
    </div>
  

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>
